spring.application.name=breathing

# DB接続（例）
spring.datasource.url=jdbc:postgresql://localhost:5432/your_db_name
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA設定
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=validate

# SQLログ
logging.level.org.hibernate.SQL=debug

spring.messages.basename=messages
spring.messages.encoding=UTF-8
